
a,.abel {
    color: black;
    font-family: abel;
}

#logo {
    height: 105px;
    width: 105px;
}
.logo-container {
    background-color: white;
    margin-top: 4em;
    height: 60px;
    line-height: 75px;
}
.header-bg {
    height: 60px;
}
li {
    line-height: 60px;
}
nav img{
    line-height: 60px;
    position: relative;
    bottom: 21px;
    z-index: 5;
    margin: auto;
}

@media screen and (max-width: 1200px) {
    .smaller {
        margin-top: 1em;
    }
}
@media screen and (max-width: 575px) {
    .larger {
        display: none;
        position: absolute;
        top: -50px;
    }

    .logo-container {
        background-color: transparent;
    }
}